@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
h1, h2 {
	font-family: "Roboto";
	font-weight: 300;
}

h3, h4, h5 {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
	/* text-transform: uppercase; */
}

p, a {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 18px;
	/* letter-spacing: .5px; */
}

.above-nav a {
	font-weight: 300;
}

.navbar-fixed-top {
	padding-top:10px;
	padding-bottom:10px;
	opacity: .9;
}

.navbar-brand {
	height: auto;
	padding: 0;
	padding-top:15px;
}

.navbar-brand img {
	height: 75px;
}

.navbar-collapse {
	text-align: center;
}

.navbar-nav {
	margin: 0 -15px;
}

.navbar ul li a {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 18px;
	line-height: 40px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	line-height: 40px;
}

@media (min-width: 768px) {
	.navbar ul li a {
		line-height: 75px;
	}
}

.navbar ul.dropdown-menu li a {
	line-height: 40px;
}

.navbar-default {
	background-color: white;
	border: none;
	-webkit-box-shadow: 2px 0px 4.9px 0.1px rgba(0, 0, 0, 0.1);
	        box-shadow: 2px 0px 4.9px 0.1px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-toggle {
	border: none;
	border-radius: 0;
	margin-top: 25px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: transparent;
}

.about {
	margin-top:20px;
}

.about p {
	line-height:28px;
	margin-bottom:20px;
}

.contact-info {
	margin: 40px 0;
}

#footer {
	clear:both;
	text-align:center;
	font-family: kalinga, Tahoma, Verdana, sans-serif;
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#footer a {
    text-decoration:none;
    color:black;
}

#footer a:hover {
	color:#a02b2b;
}

span.phone {
	padding-right:20px;
}

span.email {
	padding-left:20px;
	border-left: 1px solid black;
}

.fotorama img {
	width:100%;
}

footer {
	text-align: center;
	padding-top:15px;
}

footer p {
	font-weight: 500;
}

.footer-phone {
	border-right:1px solid black;
	padding-right: 5px;
}

.footer-phone a, .footer-email a {
	color: black;
}

.footer-phone a:hover, .footer-phone a:active, .footer-phone a:focus,
.footer-email a:hover, .footer-email a:active, .footer-email a:focus {
	color: #AB4343;
}

/* Colorbox CSS
-------------------------------------------------- */
#cboxTitle {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 18px;
}

@media (max-width: 400px) {
	#cboxTitle {
		font-size: 12px;
		line-height: 12px;
	}
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Media queries
-------------------------------------------------- */
@media (max-width: 1200px) {
	.about img {
		padding-bottom: 20px;
	}
}

@media (max-width: 780px) {
		.navbar-brand {
			padding: 15px;
		}
}

@media (max-width: 550px) {
	.footer-phone {
		border: none;
		padding: 0;
		display: block;
	}
}

.navbar-nav .open .dropdown-menu {
	text-align: center;
	background-color: #f6f6f6;
}

@media (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
	    display: block;
	 }

	 .dropdown-menu {
		 top: calc(100% - 1px);
		 text-align: left;
	 }

	 .navbar-nav .open .dropdown-menu {
		 background-color: white;
	 }
}
