@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

h1, h2, h3, h4, h5 {
	font-family: Roboto;
}

h1 {
	text-transform: uppercase;
	font-weight:300;
}

p {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.navbar-fixed-top {
	padding-top:10px;
	padding-bottom:10px;
	opacity: .9;
}

.navbar-brand {
	height: auto;
	padding: 0;
	padding-top:15px;
}

.navbar-brand img {
	height: 50px;
}

.navbar-collapse {
	text-align: center;
}

.navbar ul li a {
	font-family: Roboto;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 50px;
}

.about {
	margin-top:20px;
}

.about p {
	line-height:28px;
	margin-bottom:20px;
}

.contact-info {
	margin: 40px 0;
}

#footer {
	clear:both;
	text-align:center;
	font-family: kalinga, Tahoma, Verdana, sans-serif;
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#footer a {
    text-decoration:none;
    color:black;
}

#footer a:hover {
	color:#a02b2b;
}

span.phone {
	padding-right:20px;
}

span.email {
	padding-left:20px;
	border-left: 1px solid black;
}

.fotorama img {
	width:100%;
}

footer {
	text-align: center;
	padding-top:15px;
}

footer p {
	font-weight: 500;
}

.footer-phone {
	border-right:1px solid black;
	padding-right: 5px;
}

.footer-phone a, .footer-email a {
	color: black;
}

.footer-phone a:hover, .footer-phone a:active, .footer-phone a:focus,
.footer-email a:hover, .footer-email a:active, .footer-email a:focus {
	color: #AB4343;
}

/* Colorbox CSS
-------------------------------------------------- */
#cboxTitle {
	font-family: Roboto;
	font-size: 18px;
	line-height: 18px;
}

@media (max-width: 400px) {
	#cboxTitle {
		font-size: 12px;
		line-height: 12px;
	}
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Media queries
-------------------------------------------------- */
@media (max-width: 1200px) {
	.about img {
		padding-bottom: 20px;
	}
}

@media (max-width: 780px) {
		.navbar-brand {
			padding: 15px;
		}
}

@media (max-width: 550px) {
	.footer-phone {
		border: none;
		padding: 0;
		display: block;
	}
}
